<!-- <form [formGroup]="profileForm" (ngSubmit)="onSubmit()">
    <div class="mb-3">
      <label class="form-label" for="first-name">Name </label>
      <input class="form-control" id="first-name" type="text" formControlName="firstName"  [ngClass]="{ 'is-invalid': submitted && f['firstName'].errors }">
      <div *ngIf="submitted && f['firstName'].errors" class="invalid-feedback">
        <div *ngIf="f['firstName'].errors['required']">FirstName is required</div>
      </div>
    </div>
    <div class="mb-3">
      <label class="form-label" for="last-name">Email </label>
      <input class="form-control" id="last-name" type="text" formControlName="email" [ngClass]="{ 'is-invalid': submitted && f['email'].errors }">
      <div *ngIf="submitted && f['email'].errors" class="invalid-feedback">
        <div *ngIf="f['email']?.errors?.['required']">Email is required</div>
      </div>
    </div>
    <div class="mb-3">
        <label class="form-label" for="last-name">Mobile </label>
        <input class="form-control" id="last-name" type="text" formControlName="mobile" [ngClass]="{ 'is-invalid': submitted && f['mobile'].errors }">
        <div *ngIf="submitted && f['mobile'].errors" class="invalid-feedback">
          <div *ngIf="f['mobile']?.errors?.['required']">Mobile is required</div>
        </div>
      </div>
      <div class="mb-3">
        <label class="form-label" for="last-name">Address</label>
        <input class="form-control" id="last-name" type="text" formControlName="address" [ngClass]="{ 'is-invalid': submitted && f['address'].errors }">
        <div *ngIf="submitted && f['address'].errors" class="invalid-feedback">
          <div *ngIf="f['address']?.errors?.['required']">Address is required</div>
        </div>
      </div>
    <button class="btn btn-primary" type="submit" [disabled]="!profileForm.valid">Submit</button>
    </form> -->
    {{data}}
    <div *ngFor="let cust of custData">
      <div *ngIf="data==cust.customerId">
          <p>{{cust.customerName}}</p>
      </div>
    </div>
    <form [formGroup]="profileForm"  >

      <div class="form-group">

          <label for="firstname">Name</label><br>

          <input type="text" name="name" formControlName="name" class = "form-control">

      </div>

      <pre></pre>

      <pre></pre>

      <div class="form-group">

          <label for="email">Email</label><br>

          <input type="text" name="email" class = "form-control"  formControlName="email">

      </div>

      <pre></pre>

      <div class="form-group">

        <label for="mobile">Mobile</label><br>

        <input type="text" name="mobile" class = "form-control"formControlName="mobile">

    </div>

    <div class="form-group">

      <label for="address">Address</label><br>

      <input type="text" name="address" class = "form-control"formControlName="address">

  </div>

  <pre></pre>

    <pre></pre>

      <div class="form-group">

          <label for="password">Password</label><br>

          <input type="text" name="password" class = "form-control"formControlName="password">

      </div>

      <pre></pre>
      <pre></pre>

      <!-- <div class="form-group">

          <label for="date">Date</label><br>

          <input type="date" name="date" class = "form-control"formControlName="date">

      </div> -->

      <pre></pre>

      <button class="btn btn-primary" (click)="submit()" type="submit">Fetch</button>
      <button class="btn btn-primary" (click)="updateSubmited(data)" type="submit">Update</button>

  

  </form>
  
<!-- <label>
  Enter Email:
  <input type="text" [formControl]="email">
</label>
  <p>
    Display value: {{email.value}}
  </p>
  <button (click)="update()">update</button>-->

  <!-- <label>
    Enter date:
    <input type="date" [formControl]="date">
  </label> -->
    <!-- <p>
      Display value: {{date.value}}
    </p>
    <button (click)="updatedate()">updatedate</button>  -->